*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* outline: red 1px solid; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    height: 70px;
    background-color: #fef6e4;
}

.logo{
    font-weight: 700;
    font-size: 30px;
}

.LogoMan{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    justify-content: flex-start; 
}

.fa-solid{
    font-size: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-link{
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease;
}

.line{
    margin-top: 0px;
    height: 3px;
    width: 100%;
    background-color:rgb(175, 114, 0);
}

.nav-link:hover{
    color: #e63946;
}

.hero{
    background-color: #fef6e4;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 450px; */
}

.form{
    background-color: white;
    width: 620px;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 80px;
    border-radius: 20px;
    /* gap: 5px; */
}

.form label{
    font-weight: 600;
}


.form h3{
    font-size: 30px;
    color: #e63946;
}

.form h3 i {
    font-size: 30px;
}

.form input{
    margin-top: 0px;
    height: 30px;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

.form input:hover{
    border: 2px solid black;
}

.form button {
    background-color: #e63946;
    color: white;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.form button:hover{
    background-color: #c72f3a;
    cursor: pointer;
}

.line2{
    height: 1px;
    background-color: #e63946;
    width: 100%;
}

.line{
    margin-top: 0px;
    height: 3px;
    width: 100%;
    background-color:rgb(175, 114, 0);
}

.bookSummary{
    height: 400px;
    width: 100%;
    background-color: #fef6e4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 220px;
}

.summaryText{
    flex: 1;
    padding-left: 120px;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
}

.sumImg{
    flex: 1;
    /* border: 2px solid black; */
    border-radius: 20px;
    height: 300px;
    width: 120px;
    overflow: hidden; 
    text-align: center;
    display: none;
}

.sumImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /* image crop hoke perfect fit */
    border-radius: 20px;
}

.jspart{
    color: #e63946;
    font-weight: 700;
}