* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    height: 70px;
    background-color: #fef6e4;
}

.logo {
    font-weight: 700;
    font-size: 30px;
}

.LogoMan {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    justify-content: flex-start;
}

.fa-solid {
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #e63946;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active {
    color: #e63946;
    border-bottom: 2px solid #e63946;
}

.line {
    margin-top: 0px;
    height: 3px;
    width: 100%;
    background-color: rgb(175, 114, 0);
}

.nav-link:hover {
    color: #e63946;
}

.heroImg img {
    transition: transform 0.4s ease;
}

.heroImg img:hover {
    transform: scale(1.05);
}

.hero {
    min-height: 450px;
    background-color: #fef6e4;
}

.innerHero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heroImg {
    flex: 1;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    /* 🔥 full image visible */
}

.heroText {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 80px;
}

.heroText h3 {
    color: #e63946;
    font-size: 35px;
    margin-top: 20px;
}

.heroText p {
    font-size: 17px;
    padding-left: 10px;
    max-width: 100%;
    color: #333;
    line-height: 1.5;
}

.heroText {
    animation: slideInLeft 1s ease;
}

.heroImg {
    animation: slideInRight 1s ease;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.main2 {
    height: 900px;
    background-color: #fef6e4;
    padding-bottom: 100px;
}

.main2Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.main2Text h3 {
    color: #e63946;
    font-size: 35px;
    font-weight: 700;
    margin-top: 40px;
}

.main2Text p {
    padding-left: 70px;
    padding-right: 90px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
    line-height: 1.5;
}
.looks {
    width: 200px;
    height: 4px;
    background-color: #e63946;
    margin: 80px auto;
    border-radius: 10px;
}